
{% extends "./base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <main class="pt-5">

        <div class="row g-3">

            <div class="col-md-5 col-lg-5 order-md-first bg-light">
            
                <img class="img-fluid mx-auto d-block" alt="Responsive image" src="{{ product.image.url }}"> 
                
            
            </div>

            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">

                <h1 class="mb-0 h4">{{ product.name | capfirst }}</h1>
                

                <strong>{{ product.slug }}</strong>


                <hr>

                <br>


                <p>{{ product.description }}</p>

                <div class="border">

                    <div class="col border-bottom">

                        <div class="row p-3">

                            <div class="col-6"> Price </div>

                            <div class="col-6 text-end"><span class="h4 fw-bold">{{ product.price }}</span></div>

                        </div>

                    </div>

                    <div class="col">
              
                        <div class="row p-3">
              
                            <div class="col-6">
              
                               
                                <label for="select">Size</label>
                                
                                &nbsp; 
                               
                                <select id="select">
              
                                    <option value="1">1</option>
              
                                    <option value="2">2</option>
              
                                    <option value="3">3</option>
              
                                    <option value="4">4</option>
              
                                </select>

                            </div>

                            <div class="col-6 text-end">
                                
                               
                                <button data-product="{{product.id}}" data-action="add" class="btn btn-dark add-btn update-cart">Add to Cart</button>
				
                                <a class="btn btn-outline-dark" href="#">View</a>
                            

                            </div>
                        
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>

    <br>

</div>
<hr>
<br>
<div class="col-md-6 reviews">
    <h1>Reviews</h1>
    <h5><a href="{% url 'add-review' %}">Add a review</a></h5>
<br>
<hr>
{% if not product.comments.all %}
<h3>No reviews yet</h3>
<a href="">Add a review</a>

{% else %}

   {% for comment in product.comments.all %}
   <strong><h4>{{ comment.name }} </h4></strong>
   <h6><strong> {{ comment.created }}</strong></h6>
   <br>
   <h5><strong>{{ comment.product }}</strong></h5>
   <h5><strong>{{ comment.subject }}</strong></h5>
<br>
<p>{{ comment.comment }}</p>
<br>
<hr>
{% endfor %}
{% endif %}
</div>
<hr>

{% endblock %}