:root {
    --background-color: rgb(18, 18, 18) ;
    --font-color: rgb(176, 173, 173) ;
}
html {
    height: 100%;
}
body {
    background-image: url(/media/hero-img-cb.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--font-color);
    font-weight: 100;

    
}

